h2{
    /*font-family:" Lucida Handwriting,cursive";
    color: darkcyan;
    text-shadow: 1px 1px #cccccc;
    background-color: black;*/
    
  }

  .containter{
      color: black;
      background-color: black;
  }
  .display{
   /* color: black;
    background-color: black;*/
    //background-image:url("/Screen Shot 2021-02-05 at 7.39.58 PM.png");
  }